/* ----- book section ----- */
.book_section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 2rem;
  text-align: right;
}
form .form_input {
  margin-bottom: 0.8rem;
}

.form_input input {
  padding: 0.2rem 0.3rem;
}

.btn {
  padding: 0.4rem 0.9rem;
  outline: none;
  border: none;
  border-radius: 4px;
}

.btn--secondary {
  color: #fff;
  background-color: brown;
}


.btn--primary {
  color: #fff;
  background: rgb(17, 111, 17);
}
